/* Colors - text */
$text1: #14A800;
$text2: #65735B;
$text3: #9AAA97;
$text4: #001E00;
$text5: #D5E0D5;

/* Colors - background */
$bg1: #14A800;
$bg2: #1f57C3;
$bg3: #95DF00;
$bg4: #001E00;

$borderRadius: 160px;

/* Colors from konga */
$bg5: #F2F2F2;