/* Colors */
// Blues
$blue : #17A800;
$blue_dark100 : #138900;
$blue_dark200 : #0E6700;
$blue_light100 : #2CCD12;
$blue_light200 : #53D33F;

// Green
$blue : #1F56C3;
$blue_dark100 : #0C3FA4;
$blue_dark200 : #09307E;
$blue_light100 : #416FCB;
$blue_light200 : #678CD7;

// black
$black : #001E00;
$black_dark100 : #000D00;
$blak_dark200 : #000200;
$black_light100 : #073507;
$black_light200 : #165216;
